[submodule "interbotix_ros_toolboxes"]
	path = interbotix_ros_toolboxes
	url = https://github.com/orjano-max/interbotix_ros_toolboxes
[submodule "interbotix_ros_manipulators"]
	path = interbotix_ros_manipulators
	url = https://github.com/orjano-max/interbotix_ros_manipulators
[submodule "interbotix_ros_core"]
	path = interbotix_ros_core
	url = https://github.com/Interbotix/interbotix_ros_core
